<mat-toolbar color="primary">
  <span>Calendar</span>
</mat-toolbar>

<br />

<mat-grid-list cols="7" class="toolbar">
  <mat-grid-tile class="dot" *ngFor="let item of toolbarItems"><!-- draggable [dragData]="item" -->
    <span class="dot"></span>
    <span class="content">{{item.text}}</span>
  </mat-grid-tile>
</mat-grid-list>

<br />

<mat-grid-list cols="7" class="calendar">
  <ng-container *ngFor="let day of days">
    <mat-grid-tile class="day"><span>{{day.text}}</span></mat-grid-tile>
    <mat-grid-tile *ngFor="let dot of day.dots" class="dot"><!-- (click)="openBottomSheet()" droppable (onDrop)="onDrop($event, dot)" dragOverClass="dot-drag-over" -->
      <span class="dot"></span>
      <span class="content">{{dot.text}}</span>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<router-outlet></router-outlet>
